.select {
  padding: 0.85rem 1rem;
  border-radius: 12px;
  background-color: #1e293bd9;
  color: var(--text-form);
  outline: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.select:focus {
  outline: none;
  border-color: #3b82f6;
  background-color: #1e293b;
}
