.backButton {
  display: flex;
  width: 35px;
  height: 35px;

  border-radius: 50%;
  border: none;

  background-color: var(--text-over-main);
  color: var(--bg-secondary);

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: transform 0.2s;
}

.backButton:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .backButton {
    width: 54px;
    height: 54px;
  }
}
