.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
}
.arrow {
  margin-top: 8px;
}
.header h1 {
  color: var(--text-over-main);
  text-align: center;
}
.header p {
  color: var(--text-p);
  text-align: center;
}
