.footer {
  width: 100%;
  background-color: #020617;
  padding: 10px 10px 10px;
  color: #94a3b8;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.brand .logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza logo no mobile */
  gap: 10px;
  color: #f8fafc;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.brand p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}

.social {
  display: flex;
  gap: 20px;
}

.social a {
  color: #94a3b8;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.social_github p {
  border: 2px solid;
  padding: 2px;
}
.social_linkedin {
  border: 2px solid;
  padding: 2px;
}
.social a:hover {
  color: #3b82f6;
  transform: translateY(-3px);
}

.copyright {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.6;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .brand .logo {
    justify-content: flex-start;
  }
}
